---
import BaseLayout from "../layouts/BaseLayout.astro"
import Header from "../components/Header.astro"
const pageTitle = "spano"
const identity = {
	firstName : "Spano",
	country: "Kenya",
	Occupation: "Web designer / developer",
	Hobbies: ["coding","swimming","smoking"]
}
const skills = ["html", "css", "tailwind", "astro","nextjs", "vanilla", "react"]
const happy = true
const finished = false
const goal = 3

const skillColor = "navy"
---
<BaseLayout>

		<style>
			h1{
				color: purple;
				font-size:4rem;
				font-weight: bold;
			}
			.skill{
				color: var(--skillColor);
				font-size: 2rem;
				margin: 64px;
				font-weight: bold;
			}
		</style>

		
		
        <p>
			I am {identity.firstName} and I live in {identity.country}
			My Occupation is {identity.Occupation} Below are my hobbies {identity.Hobbies}
        </p>
		<h1>my skills are</h1>
		{skills.map((skill) => <li class="skill">{skill}</li>)}

		{happy && <p>I am happy to be learning astro</p>}
		{finished && <p>I finished this tutorial</p>}
		{goal === 3 ? <p>My goal is to finish in 3 days</p> : <p>My goal is not 3 days</p>}
</BaseLayout>
